<header>
    <div class="container">
        <div class="logo">MEU PORTFÓLIO</div>
        <div class="hamburger" aria-label="Menu" aria-expanded="false" role="button" tabindex="0">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <nav class="menu">
            <a href="#inicio">Início</a>
            <a href="ano4.html">4º Ano</a>
            <a href="ano5.html">5º Ano</a>
            <a href="#pessoal">Sobre Mim</a>
            <a href="#contato">Contato</a>
        </nav>
    </div>
</header>